//colors

$purple-color: #542d72;
$dark-green-color: #00bc82;
$violet-color: #b181d8;
$light-green-color: #36d9a7;
$yellow-color: #f9f871;
$pink-color: #ff5e78;
$card-bg-light: #F8F7FA;
$search-text: #816F8F;
$border-gray-200: #EDF2F7; 
//mediaqueries
$maxMobile: 767px;
$minMedium: 992px;
$minSmall: 768px;
$mediumMedia: 1000px;
