//colors

$purple-color: #542d72;
$dark-green-color: #00bc82;
$violet-color: #b181d8;
$light-green-color: #36d9a7;
$yellow-color: #f9f871;
$yellow-color-dark:#FEC94E;
$pink-color: #ff5e78;
$card-bg-light: #f8f7fa;
$search-text: #816f8f;
$border-gray-200: #edf2f7;
//mediaqueries
$maxMobile: 767px;
$minMedium: 992px;
$minSmall: 768px;
$mediumMedia: 1000px;
