@import "../../styles/variables";
.SignSection {
  padding: 0 50px;
  margin-top: 40px;
  align-content: center;
  overflow: hidden;
  h2 {
    color: $purple-color;
    font-weight: bold;
    font-size: 50px;
    @media only screen and (max-width: 1200px) {
      font-size: 30px;
    }
    @media only screen and (max-width: 992px) {
      font-size: 50px;
    }
    span {
      padding: 0 5px;
      color: $dark-green-color;
    }
  }
  p {
    color: #797979;
    font-size: 20px;
    @media only screen and (max-width: 1200px) {
      font-size: 15px;
    }
    @media only screen and (max-width: 992px) {
      font-size: 20px;
    }
  }
  .frmBtn {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin: 30px 0;
  }
  .login_form {
    margin-top: 40px;
    padding: 50px;
  }
  .sign-img_bg {
    height: 100%;
    width: 100%;
    padding: 20px;
    //background-position: center;
    // display: flex;
    justify-content: center;
    align-items: center;
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
      // vertical-align: middle;
      display: block;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }
  .login_img_bg {
    // background-image: url("../../imgs/login_bg_img.png");
  }
  .register_img_bg {
    // background-image: url("../../imgs/register_bg_img.png");
  }
  .or_line_tit {
    @media only screen and (max-width: 1100px) {
      display: none;
    }
    .or_line {
      height: 1px;
      background-color: #707070;
      display: inline-block;
      width: 40%;
      margin: 0 10px;
    }
  }

  .form_option {
    font-size: 20px;
    color: #797979;
    a {
      color: $purple-color !important;
      padding: 0 5px;
    }
    @media only screen and (max-width: 1200px) {
      font-size: 15px;
    }
    @media only screen and (max-width: 992px) {
      font-size: 20px;
    }
  }
  .gmail_icon {
    margin: 0 3px;
    width: 25px;
    height: 25px;
    vertical-align: sub;
  }
}
.welcomMsgTitle {
  color: $purple-color;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}
.welcomMsgSubTit {
  color: $purple-color;
  font-size: 20px;
}

.registrationMsg {
  background-attachment: fixed;
  background-image: url("../../imgs/MsgBg.png");
  background-position: center;
  background-size: contain;
  text-align: center;
  background-repeat: no-repeat;

  p {
    font-weight: 500;
    font-size: 30px;
    max-width: 800px;
    margin: 0 auto;
  }
}
