.about-page {
    margin-top: 160px;
    background-color: #fff;
    color: #333;
    text-align: start;  
    @media (min-width: 768px) {
        margin-top: 160px;
    }
    .about-section {
      .about-logo { 
        padding: 50px 0;
        max-width: 100%;
        
        @media (min-width: 768px) {
            padding: 100px 150px;
        }
        }
      .about-header {
        line-height: 1.2;
        font-size: 2.5rem;
        font-weight: bold;
        color: #542D72;
        margin-bottom: 1rem;
            
            @media (min-width: 768px) {
                font-size: 50px;
                line-height: 80px;
            }
       }
  
      .about-description{
        font-size: 1.25rem;
        color: #542D72;
        line-height: 1.6;
        
        @media (min-width: 768px) {
            font-size: 30px;
            line-height: 55px;
            padding: 20px 40px 0 0;
        }
      }
      .illustration {
        max-width: 100%;
        height: auto;
    }
    }
  
    .values-section {
      background-color: #ffffff;
      margin: 60px 0;
        padding: 0 15px;
        
        @media (min-width: 768px) {
            margin: 120px;
        }
  
      .values-header{
        font-size: 2rem;
        font-weight: bold;
        color: #542D72;
        line-height: 1.2;
        margin-bottom: 2rem;
        
        @media (min-width: 768px) {
            font-size: 35px;
            line-height: 100px;
            margin-bottom: 60px;
        }
      }
  
        .value-card {
            border-radius: 24px;
            background-color: #F7F7F7;
            h5 {
              color: #542D72;
              line-height: 60px;
              font-weight: bold;
        
              @media (max-width: 768px) {
                line-height: 40px;
              }
            }
        
            p {
              font-size: 14px;
              color: #542D72;
              line-height: 30px;
              
              [dir="rtl"] & {
                text-align: right;
              }
            }
          }
        
          .steps-img-small {
            width: 56px;
            height: auto;
            margin: auto;
            transition: transform 0.3s ease;
          }
    
    }
  
  }

  // RTL specific styles
[dir="rtl"] {
    .about-page {
        text-align: right;
        
        .about-section {
            .about-description {
                @media (min-width: 768px) {
                    padding: 20px 0 0 40px;
                }
            }
        }
    }
}
  