@import "../../../styles/variables";
.popupBack {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 9999;
}
.popup {
  // @media only screen and (max-width: $minSmall) {
  //   left: 10px;
  //   right: 10px;
  // }
  position: fixed;
  z-index: 99999;
  background-color: white;
  box-shadow: rgba(172, 172, 202, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  // max-width: 400px;
  //min-width: 400px;
  // width: 400px;
  height: auto;
  color: $purple-color;
  padding: 20px 50px;
  // top: 25%;
  // left: 40%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 20px;
  letter-spacing: 0.8px;
  border-bottom: 2px solid red;
  // animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  // -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;

  .close {
    background-color: $dark-green-color;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 100px;
    margin: 20px auto;
    border: 0;
    &:hover {
      background-color: $purple-color;
    }
  }
  .closeicon {
    color: #18af9a;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: 0;
    position: absolute;
    right: 10px;
    top: 0;
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  span {
    color: #666;
    font-size: 16px;
    margin: 20px 0;
    display: block;
  }
}

.dangerAlert {
  height: auto;
  line-height: 2.5;
  padding: 0 5px;
  font-size: 12px;
  text-align: center !important;
  margin: 35px 0 0 0;
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-header {
  margin-bottom: 1rem;

  .success-icon {
    color: #28a745;
    font-size: 2.5rem;
  }

  .error-icon {
    color: #dc3545;
    font-size: 2.5rem;
  }
}
