body[dir="rtl"] .Menu-dropdown {
  direction: rtl;
}

body[dir="rtl"] .dropdown-menu-custom {
  text-align: right;
}

.Menu-dropdown {
    .dropdown-toggle {
        background: none;
        border: none;
        padding: 0;
        
        &:after {
          background:transparent !important;
          display: none;
        }
  
        &:hover,
        &:focus {
          background:transparent !important;
        }
        .menu-icon {
            font-size: 32px;
            color: #542D72;
            cursor: pointer;
            margin-right: 15px;
            &:hover {
                background:transparent !important;
              color: #B181D6;
            }
          }
    }
    
    
    .dropdown-menu-custom {
      width:500px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      background: #fff;
      right:0 !important;
      left:auto !important;
      position:absolute !important;
      z-index:1050 !important;
    }
  
    .dropdown-card {
      display: flex;
      align-items: left;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
      border: none;
      transition: 0.3s ease-in-out;
      background: #f8f9fa;
      font-weight: bold;
      font-size: 14px;
    }
  
    .dropdown-card:hover {
      background: #e9ecef;
    }
  
    .icon-img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  
    .full-width {
      text-align: center;
      width: 100%;
      background: #e9ecef;
    }
  }
  